<!DOCTYPE html>
<html lang="en">

    <head>
        <title>
            Bookies
        </title>
        <!-- meta-head -->
        <%- include('../fragmente/meta-head') %>
    </head>

    <body>
        <!-- header -->
        <%- include('../fragmente/header') %>
        <main>

			<%- include('../fragmente/galerie') %>

			<%- include('../fragmente/galerie-animata') %>

		</main>
        <!-- footer -->
        <%- include('../fragmente/footer') %>
    </body>
<script>
    document.querySelector('.hamburger').addEventListener('click', function() {
    this.classList.toggle('active'); 
    document.querySelector('nav ul').classList.toggle('menu-active'); 
    document.querySelector('nav').classList.toggle('anim-class'); 
});
</script>
</html>