<!DOCTYPE html>
<html lang="ro">

    <head>
        <title>
            Bookies
        </title>
        <!-- meta-head -->
        <%- include('../fragmente/meta-head') %>
    </head>

    <body>
        <!-- header -->
        <%- include('../fragmente/header') %>
        <main>
            <div id="grid-pagina">
            <figure id="fig1" class="fg-img">
                <picture>
                    <source srcset="/resurse/imagini/books200x200.jpeg" media="(max-width: 480px)" />
                    <source srcset="/resurse/imagini/books.jpeg" media="(max-width: 1200px)" />
                    <img src="/resurse/imagini/books.jpeg" alt="Books 1" />
                </picture>
                <figcaption>Books 1</figcaption>
            </figure>
            <section id="prezentare-librarie">
                <h2>Despre noi</h2>
                <p><q>Nu poți găsi niciodată o ceașcă de ceai suficient de mare sau o carte suficient de groasă pentru mine</q> – CS Lewis.</p>
                <p>Descopera <b>Bookies</b>, o librarie cozy unde te poti pierde printre titluri fascinante, sub aroma cafelei si mirosul placut al cartilor noi. Aici, fiecare carte te indeamna sa explorezi lumi noi, iar fiecare cana de cafea iti va oferi inspiratia de care ai nevoie. Iti oferim o experienta unica de lectura, chiar si in mediul online!</p>
                <div class="table-container">
                <table>
                    <caption>Lista celor mai citite cărți în ultimii ani</caption>
                    <thead>
                      <tr>
                        <th>Loc</th>
                        <th>Titlu</th>
                        <th>Autor</th>
                        <th>An Publicare</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td colspan="2">Sapiens: Scurtă istorie a omenirii</td>
                        <td>2011</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>Arta subtilă a nepăsării</td>
                        <td>Mark Manson</td>
                        <td>2016</td>
                      </tr>
                      <tr>
                        <td rowspan="2">3</td>
                        <td>Fluturi</td>
                        <td>Irina Binder</td>
                        <td>2012</td>
                      </tr>
                      <tr>
                        <td>Oamenii fericiți citesc și beau cafea</td>
                        <td>Agnès Martin-Lugand</td>
                        <td>2013</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td colspan="4">Date colectate din surse publice</td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
            </section>
            
            <section id="produse-cautate">

                <h2>Produsele noastre</h2>
                <article id="produse-populare">
                        <h3>Carti populare</h3>
                    <p>Cateva dintre cele mai cautate titluri:</p>
                    <ul>
                        <li>
                            <b>Atomic habits</b> – o lectura captivanta despre cum poti sa iti pui viata in ordine si sa ai grija la prioritatile care conteaza prin carti de dezvoltare personala
                        </li>
                        <li>
                            <b>Adam si Eva</b> – o poveste emotionanta despre doua suflete pereche care se regasesc in sapte povesti temporale diferite. Reincarnare? Poate, dar cert ca este o carte de fictiune memorabila
                        </li>
                        <li>
                            <b>Never let me go</b> – un thriller care te tine in suspans, perfect pentru cititorii de lectura intensa!
                        </li>
                    </ul>
                </article>

                <article id="categorii-carti">
                    <h3>Categorii de Carti</h3>
                    <p>Indiferent de preferintele tale, avem ceva special pentru tine! Exploreaza genurile noastre variate dde carti:</p>
                    <ul>
                        <li>Drama</li>
                        <li>Thriller</li>
                        <li>Business</li>
                        <li>Istorie</li>
                        <li>Fictiune</li>
                        <li>Literatura pentru copii</li>
                        <li>Stiinta si tehnologie</li>
                    </ul>
                </article>

                <article id="inceput-scoala">
                    <h3>Recomandari pentru Inceperea Scolii</h3>
                    <p>Pregateste-te pentru un nou <a href="https://www.edu.ro/structura_an_scolar_2024_2025" target="_blank">an scolar</a> cu cele mai bune carti pentru elevi si studenti! Iata cateva sugestii de lectura:</p>
                    <ul>
                        <li>
                            <b>Carti de referinta</b> – pentru o baza solida de cunostinte.
                        </li>
                        <li>
                            <b>Carti de dezvoltare personala</b> – pentru a-ti imbunatati abilitatile.
                        </li>
                        <li>
                            <b>Literatura clasica</b> – pentru o educatie literara completa.
                        </li>
                    </ul>
    
                </article>
            </section>
            
            
            <section id="promovare">
                <h2>De ce sa ne alegi?</h2>

                <article id="promovare-citit">
                    <h3>Importanta Lecturii</h3>
                    <p>Cititul este o poarta catre cunoastere si dezvoltare personala. Incurajam fiecare vizitator sa imbratiseze aceasta activitate esentiala. Educatia prin lectura deschide minti, stimuleaza creativitatea si ajuta la formarea unei societati mai bine informate. Fiecare carte citita te apropie mai mult de visurile tale!</p>
                </article>
                
                <article id="cod-reducere">
                    <h3>Cod de Reducere</h3>
                    <p>Profita acum de <s>10% reducere</s> <b>15%</b> <em>reducere</em> la prima ta comanda de carti! Foloseste codul <b>BOOKIE15</b> la checkout pentru a beneficia de oferta. Nu rata ocazia de a adauga titluri preferate in biblioteca ta!</p>
                </article>
                

                
                <article id="servicii-livrare">
                    <h3>Servicii de Livrare</h3>
                    <p>Livram cu rapiditate si usurinta, direct la usa ta sau la un locker din apropiere! Alege optiunea care ti se potriveste cel mai bine si bucura-te de cartile tale preferate in cel mai scurt timp.</p>
                    <i class="fa-solid fa-truck-fast"></i>
                    <!-- Icon animat -->
                    <i class="fas fa-sync fa-spin"></i> 
                </article>



            </section>

            <section id="calculator">
                <h2>Calculator interactiv</h2>
                <p>Nu stii cand a trecut timpul in timpul cititului? Incearca acest calculator pentru a vedea cat timp iti trebuie pentru lectura unei carti:</p>
                <math>
                    <mrow>
                        <mi>T</mi>
                        <mo>=</mo>
                        <mfrac>
                            <mi>P</mi>
                            <mi>R</mi>
                        </mfrac>
                    </mrow>
                    <br>
                    <mrow>
                        <mtext> unde: </mtext>
                    </mrow>
                    <br>
                    <mrow>
                        <mi>T</mi>
                        <mo>=</mo>
                        <mtext>Timpul total (în ore)</mtext>
                    </mrow>
                    <br>
                    <mrow>
                        <mi>P</mi>
                        <mo>=</mo>
                        <mtext>Numărul total de pagini</mtext>
                    </mrow>
                    <br>
                    <mrow>
                        <mi>R</mi>
                        <mo>=</mo>
                        <mtext>Rata de citire (pagini pe oră)</mtext>
                    </mrow>
                </math>
            </section>

            <section id="faq">
                
                <h2>FAQ</h2>
                <p>Ai intrebari? Iata cateva dintre cele mai frecvente intrebari pe care le primim:</p>
                <details>
                    <summary>Care sunt costurile de livrare?</summary>
                    <p>Costul livrarii depinde de locatie, dar oferim transport gratuit pentru comenzi mai mari de 200 lei.</p>
                </details>
                <details>
                    <summary>Cum pot returna un produs?</summary>
                    <p>Poti returna produsele in termen de 14 zile de la primire, conform politicii noastre de returnare.</p>
                </details>
                <details>
                    <summary>Ce metode de plata acceptati?</summary>
                    <p>Acceptam plati cu cardul si ramburs la livrare.</p>
                </details>
                
            </section>
            <section id="utilizator">
                <h2>Date utilizator</h2>
                <p>IP-ul utilizatorului: <%= ipUser %></p>
                <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus itaque perspiciatis, consectetur corporis accusamus minus voluptatem. Officia ipsa facilis saepe maxime! Blanditiis aliquam ratione voluptate quas ea ab praesentium quasi. -->
            </section>
            <section id="audiobook">
                <h2>Audiobooks</h2>
                <p>Poti citi o carte chiar si atunci cand mergi, folosind cartile audio. <a href="/video">TEST VTT VIDEO</a> </p>
                <div class="taburi-iframe">
                    <a href="https://www.youtube.com/embed/9RqSjyfu6hg" target="ifr-video">Idiotul - Feodor Dostoievski</a>
                    <a href="https://www.youtube.com/embed/6zfXsSJ82Fg" target="ifr-video" >Arta razboiului - Sun Tzu</a>
                    <a href="https://www.youtube.com/embed/14ByWECryHU" target="ifr-video" >1984 - Gorge Orwell</a>
                </div>
                <iframe name="ifr-video" src="https://www.youtube.com/embed/9RqSjyfu6hg?enablejsapi=1" 
                    style="border: none;" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen></iframe>
            </section>
        </div>
        <%- include('../fragmente/galerie') %>

		<section class="container mt-5">
			<div class="row">
				<div class="col-md-12">
					<h1 class="reflexie" data-text="Reflexie Heading">Reflexie</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="btn btn-primary">Go somewhere</a>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="alert alert-warning" role="alert">
						This is a warning alert—check it out!
					</div>
				</div>
			</div>
			<div class="text-columns">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam accusamus provident qui. Inventore, nobis numquam. Deleniti dolorum eum beatae ullam rerum quis, quam earum porro eligendi, perferendis eveniet velit eos.</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi tempore repellendus, non at nam odio esse fuga modi, tenetur ut quae dolore pariatur sapiente illum quis. Non fugiat ab mollitia. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
			<div class="moving-text">
				<p>This text moves horizontally across the screen.</p>
			</div>
			<div class="fixed-background">
				<p>Background image changes every 10 seconds.</p>
			</div>
			<div class="duotone">
				<p>Background image changes every 10 seconds.</p>
			</div>
			<hr class="styled-hr" />
		</section>

        </main>
        <!-- footer -->
        <%- include('../fragmente/footer') %>
    </body>
<script>
    document.querySelector('.hamburger').addEventListener('click', function() {
    this.classList.toggle('active'); 
    document.querySelector('nav ul').classList.toggle('menu-active'); 
    document.querySelector('nav').classList.toggle('anim-class'); 
});
</script>
</html>